<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <header>
    <div class="header-title">Title</div>

    <div class="header-buttons">
      <button class="login-button" type="button"><b>Login</b></button>
      <button class="register-button" type="button"><b>Register</b></button>
    </div>
  </header>

  <div class="body-container">
    <div class="side-nav">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Shopping</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Restaurants</a></li>
      </ul>
    </nav>
    </div>
  </div>

</body>
</html>
