header {
  height: 6em;
  width: 100%;
  position: fixed;
  background:rgb(148, 148, 148);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// Title Area
.header-title {
  color: black;
}

// Header Login-Buttons
.header-buttons {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-buttons button{
  margin-left: 2em;
}
