nav{
  background-color: #C4C4C4;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1;
}

.title {
  font-size: larger;
  color: black;
  padding: 20px;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

nav span {
  padding: 10px;
}
